#cooperations {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cooperation-header {
    width: 100%;
    text-align: left;
}

.cooperation-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: calc(50% - 10px); /* 50% width minus the gap */
    box-sizing: border-box;
}

.cooperation-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.cooperation-text {
    flex: 1;
    margin-bottom: 20px;
}

.cooperation-image {
    flex-shrink: 0;
    width: 350px;
    margin: 0 auto;
}

.cooperation-image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
