#reviews {
    width: 100%;
    max-width: 1200px;
    width: calc(100% - 20px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.review-header {
    width: 100%;
    text-align: left;
}

.review-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.review-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.review-text {
    flex: 1;
    margin-right: 0; /* Removed margin to make it centered */
}