body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    max-width: 1600px;
    align-items: center;
}
.header {
    padding: 20px;
    /* background-color: #f4f4f4; */
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.left-column {
    width: 30%;
    padding: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    align-items: top;
    justify-content: flex-end;
}
.right-column {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}
.timeline-item, .publication-item {
    margin-bottom: 20px;
}
.date {
    font-weight: bold;
    color: #333;
}
.description {
    margin-left: 20px;
}
.emoji {
    font-size: 1.2em;
}
h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
}